body{
    /* padding: 0;
    margin: 0; */
    background: url(./tajmahal1.html);
}
h1{
    text-align: center;
}
.delhi{
    font-size: 50px;
}
.book{
    text-decoration: underline;
}
div{
    height: 500px;
    width: 500px;
    border: 2px solid black;
    margin-left: 500px;
}